
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_LayoutJneCommSites.cshtml";
}
<br />
<br />
<div class="row">
    <div class="col-md-12 text-center">
        <label class="alert-danger">Access Denied</label>
        <p class="text-info"> You dont have the permision right, please contact the administator</p>
        <img src="~/Content/JNet Images/AccessDenied.png"  class="text-center"/>
    </div>
</div>