@using JneCommSitesManagement.Helper;

@{
    ViewBag.Title = "Access Denied";
    var queryCrewRol = Helper.GetCrewRoleByUser(User.Identity.Name);
    if (queryCrewRol != null)
    {
        Layout = "~/Views/Shared/_LayoutCrewJneCommSites.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutJneCommSites.cshtml";
    }

}
<br />
<br />
<div class="row">
    <div class="col-md-12 text-center">
        <label class="alert-danger">Access Denied</label>
        <p class="text-info"> You dont have the permision right, please contact the administator</p>
        <img src="~/Content/JNet Images/AccessDenied.png"  class="text-center"/>
    </div>
</div>